a{
    color: black;
}
a:hover{
    color: #ccc;
}
a:visited{
    color: red;
}
a:focus{
    border-color: blue;
}

li:first-child{
    font-weight: bolder;
}
li:last-child{
    color: green;
}
li:nth-child(odd){
    background-color: lightblue;
}
li:nth-child(even){
    background-color: #c8a2c8;
}